<!DOCTYPE html>
<html>
    <head>
        <!-- Configuraciones y Metadatos            -->
        <!-- CSS (Estilos)         -->
        <link rel="stylesheet" href="/css/stilos-generales.css">
    </head>
    <body>
        <p> Hola <%= nombre %> !</p>
        <!-- Contenido HTML       -->
        <!-- SCRIPTS Van al final del Body       -->
        <script src="/js/logica.js"></script>
        <script src="/js/logica2.js"></script>
        <script src="/js/logica.js"></script>
        <script src="/js/logica2.js"></script>
        <script src="/js/logica.js"></script>
        <script src="/js/logica2.js"></script>
        <script src="/js/logica.js"></script>
        <script src="/js/logica2.js"></script>

    </body>
</html>


<!--<raiz>-->
<!--    <universidad>-->
<!--        <facultad atributo = "valor-->
<!--"                 propiedad = "valor"-->
<!--                  acreditada-->
<!--        >-->
<!--            sistemas-->
<!--        </facultad>-->
<!--        <facultad>-->
<!--            mecanica-->
<!--        </facultad>-->
<!--    </universidad>-->
<!--    <universidad>-->
<!--        <facultad>-->
<!--            administracion-->
<!--        </facultad>-->
<!--        <facultad>-->
<!--            finanzas-->
<!--        </facultad>-->
<!--    </universidad>-->
<!--</raiz>-->