

<ul>
    <!--    list item-->
    <li>
        <!--        anchor (ancla)-->
        <a href="/usuario/vista/inicio">Inicio</a>
    </li>
    <li>
        <a href="/usuario/vista/faq">FAQ</a>
    </li>
    <li>
        <a href="/usuario/vista/login">Log In</a>
    </li>
</ul>
